/node_modules
/.next/
.DS_Store
tsconfig.tsbuildinfo
/test-results/
/playwright-report/
/playwright/.cache/
out
messages/en.d.json.ts
public/video/TGN_FULL.mov
public/video/TGN_FULL.mp4
public/video/TGN_FULL_45mb.webm
