.child-page-container {
  padding: 50px 0px;
  .child-page-img-slider-wrapper {
    width: 100%;
    height: auto;
    background-color: rgba($color: #fff, $alpha: 0.5);
    padding: 16px;
    border-radius: 16px;
  }

  .child-page-img-slider {
    border-radius: 16px;
    height: 220px;
    overflow: hidden;
  }
  .child-page-list-content {
    margin-top: 16px;
  }
  .child-page-list-blocks {
    margin-top: 18px;
  }
  &:nth-child(odd) {
    background-color: var(--secondary-color);
  }
  .job-detail-btn-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .child-section-description {
    max-width: 768px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    padding: 100px 0px;
    .child-page-img-slider-wrapper {
      height: auto;
    }
    .child-page-img-slider {
      height: 320px;
    }
    .job-detail-btn-flex {
      justify-content: space-between;
    }
    .child-page-img-slider-margin {
      margin: 10px;
    }
  }
}
