.contact-us-wrapper {
  .flex-wrapper {
    display: flex;
    align-items: stretch;
    gap: 1rem;
  }
  .flex-inner-item {
    display: flex;
    align-items: stretch;
    margin-top: 1.5rem;
    gap: 1rem;
  }

  .flex-job-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .job-item {
    flex: 0 0 calc((100% - 16px * 2) / 3);
    max-width: calc((100% - 16px * 2) / 3);
  }

  @media screen and (max-width: 768px) {
    .flex-wrapper,
    .flex-inner-item {
      flex-direction: column;
    }

    .job-item {
      flex: unset;
      max-width: 100%;
      width: 100%;
    }
  }
}
