#footer {
  .inner-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: 50px;
  }
  .flex-item {
    flex: 2;
    display: flex;
    gap: 50px;
  }
  .container-fluid-padding {
    padding: 0 3rem;
    position: relative;
    overflow-x: hidden;
  }
  @media screen and (max-width: 768px) {
    .inner-container {
      flex-direction: column;
    }
    .flex-item {
      flex-wrap: wrap;
      margin-top: 50px;
    }
    .container-fluid-padding {
      padding: 0 0.75rem;
    }
  }
}
