#tgn-hero-banner {
  position: relative;
}
.tgn-hero-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.tgn-hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 6rem;
}
.tgn-header-title {
  margin: 0 auto;
  max-width: 25rem;
}
.tgn-header-title-text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
  color: var(--primary-color);
}

.tgn-title-page {
  font-size: 52px;
  font-weight: 700;
  text-align: center;
  color: var(--primary-color);
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .tgn-hero-content {
    padding: 3rem 1rem;
  }
  .tgn-header-title {
    margin: 0 auto;
    max-width: 12rem;
  }
  .tgn-header-title-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .tgn-title-page {
    font-size: 32px;
  }
}
