/* Main Opening Component Styles */
.tgn-opening-section {
  margin-bottom: 120px;
  .tgn-introduce-section {
    position: relative;
    overflow: hidden;
  }

  .tgn-introduce-container {
    padding: 50px 0;
    background-color: var(--alabaster-white-color);
  }

  .tgn-introduce-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .tgn-introduce-left {
    flex: 1;
  }

  .tgn-stat-item-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .tgn-introduce-desc {
    font-size: var(--fs-card-content);
  }

  .tgn-introduce-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  .tgn-introduce-btn-text {
    font-size: 14px;
    font-weight: 500;
  }

  .tgn-introduce-statistics {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 46px 0;
  }

  .tgn-introduce-stat-icon {
    width: 50px;
    height: 50px;
  }

  .tgn-introduce-stat-title {
    font-size: clamp(2rem, 2vw, 2.25rem);
    font-weight: 700;
    color: var(--primary-color);
  }

  .tgn-introduce-stat-sub {
    font-size: var(--fs-card-content);
    margin: 0;
  }

  .tgn-introduce-video-section {
    position: relative;
    padding: 75px 0;
    z-index: 2;
  }

  .tgn-introduce-video-overlay {
    position: absolute;
    height: 100%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tgn-introduce-video-container {
    display: flex;
    position: relative;
    justify-content: center;
    .base-card-full-border {
      height: 350px !important;
    }
  }

  .tgn-introduce-video {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tgn-introduce-video-grid {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .tgn-flex-item-width-pseudo {
    &:not(:first-child) {
      &::before {
        left: -20px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .tgn-introduce-card {
      flex-direction: row;
    }
    .tgn-introduce-statistics {
      justify-content: space-between;
    }
    .tgn-introduce-right {
      flex: 2;
      .tgn-flex-item-width-pseudo {
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
    .tgn-stat-item-content {
      gap: 20px;
    }
    .tgn-introduce-video-container {
      .base-card-full-border {
        height: 600px !important;
      }
    }
    .tgn-introduce-video-section,
    .tgn-introduce-container {
      padding: 150px 0;
    }
  }
}
