/* Main Opening Component Styles */
.tgn-opening-section {
  margin-bottom: 120px;
  /* Introduce Section */
  .tgn-introduce-section {
    position: relative;
    overflow: hidden;
  }

  .tgn-introduce-container {
    padding: 150px 0;
  }

  .tgn-introduce-card {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    padding: 15px 25px;
  }

  .tgn-introduce-left {
    flex: 1;
  }

  .tgn-introduce-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  .tgn-introduce-title {
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
  }

  .tgn-introduce-desc {
    font-size: 14px;
  }

  .tgn-introduce-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  .tgn-introduce-btn-text {
    font-size: 14px;
    font-weight: 500;
  }

  .tgn-introduce-statistics {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
  }

  .tgn-introduce-stat-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .tgn-introduce-stat-icon {
    width: 50px;
    height: 50px;
  }

  .tgn-introduce-stat-title {
    font-size: 32px;
    font-weight: 700;
    color: var(--primary-color);
    margin-top: 20px;
  }

  .tgn-introduce-stat-sub {
    font-size: 14px;
  }

  .tgn-introduce-video-section {
    position: relative;
    padding: 0 0 150px 0;
    z-index: 2;
  }

  .tgn-introduce-video-overlay {
    position: absolute;
    height: 100%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tgn-introduce-video-container {
    display: flex;
    position: relative;
    justify-content: center;
  }

  .tgn-introduce-video {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tgn-introduce-video-grid {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    .tgn-introduce-container {
      padding: 100px 15px;
    }
    .tgn-introduce-card {
      flex-direction: column;
      gap: 20px;
      padding: 15px 0;
    }
    .tgn-introduce-statistics {
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-between;
    }

    .tgn-introduce-stat-item {
      width: 40%;
      flex: unset;
    }
    .default-vertical-line {
      &:nth-child(4) {
        display: none;
      }
    }
    .tgn-introduce-right {
      margin-top: 25px;
    }

    .tgn-introduce-video-section {
      padding: 0 15px 150px 15px;
    }
    .tgn-introduce-iframe {
      position: relative !important;
      height: 100% !important;
      width: 100% !important;
    }
    .tgn-introduce-video-overlay {
      display: none;
    }
  }
}
