.no-scroll {
  overflow: hidden;
  height: 100vh; /* Optional: Ensures the body doesn't jump */
}
.tgn-dash-line {
  height: 1px;
  width: 100%;
  background-color: var(--text-brown-color);
}

.section-wrapper {
  position: relative;
  z-index: 1;
  min-height: 660px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.center-section-wrapper {
  display: flex;
  align-items: center;
}

.section-wrapper-bg {
  position: relative;
}
.section-wrapper-bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(255, 255, 255, 0.8);
}

.wrapper-for-lastchild {
  & > *:last-child {
    padding-bottom: 100px;
  }
}
.tgn-container-content-inner {
  background-color: var(--white-color);
  padding: 15px;
  border-radius: 24px;
}

.app-btn-default {
  background: linear-gradient(266.58deg, #6e3e2f -12.36%, #925846 132.15%);
  border-radius: 24px;
  color: var(--white-color);
  padding: 10px 18px;
  box-shadow:
    4px 4px 8px 0px #73423366,
    -4px -4px 8px 0px #73423366;
  transition: all 0.3s ease-in-out;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.tgn-base-limit-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.tgn-base-limit-two-lines {
  -webkit-line-clamp: 2; /* Số dòng tối đa */
  line-clamp: 2;
  max-height: 3em; /* Chiều cao tối đa */
}
.tgn-base-limit-four-lines {
  -webkit-line-clamp: 4; /* Số dòng tối đa */
  line-clamp: 4;
  max-height: 6em; /* Chiều cao tối đa */
}

.card-base-text {
  font-size: var(--fs-card-content);
}

.tgn-flex-wrapper-width-pseudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.tgn-flex-item-width-pseudo {
  position: relative;
  padding: 0;
  width: 45%;
  display: flex;
  justify-content: center;
  text-align: center;
  &:not(:first-child) {
    &::before {
      left: -10px;
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      background-color: var(--text-brown-color);
      position: absolute;
      top: 0;
    }
  }
  &:nth-child(odd) {
    &::before {
      display: none;
    }
  }
}

.flex-default {
  display: flex;
  align-items: center;
}

.tgn-flex-list-box {
  display: flex;
  flex-wrap: wrap;
  --item-gap: 16px;
  // 4 items per row with 3 gaps
  --item-width: calc((100% - var(--item-gap) * 3) / 4);
  gap: var(--item-gap);
  & > * {
    flex: var(--item-width);
    max-width: var(--item-width);
  }
}

.fade-line-element {
  border-bottom: 1px solid;
  border-image-source: linear-gradient(
    90deg,
    transparent 0%,
    #6d3e2f 50%,
    transparent 100%
  );
  border-image-slice: 1;
}

@media screen and (min-width: 768px) {
  .tgn-flex-wrapper-width-pseudo {
    flex-wrap: nowrap;
  }
  .tgn-flex-item-width-pseudo {
    flex: 1;
    position: relative;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    &:nth-child(odd) {
      &::before {
        display: unset;
      }
    }
  }
  .tgn-container-content-inner {
    padding: 24px;
  }
  .controller-btns-slider {
    position: absolute;
    top: 50%;
    left: -50px;
    right: -50px;
    z-index: 10;
  }
}
