.card-base-text {
  font-size: var(--fs-card-content);
}

.tgn-flex-wrapper-width-pseudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.tgn-flex-item-width-pseudo {
  position: relative;
  padding: 0;
  width: 45%;
  display: flex;
  justify-content: center;
  text-align: center;
  &:not(:first-child) {
    &::before {
      left: -10px;
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      background-color: var(--text-brown-color);
      position: absolute;
      top: 0;
    }
  }
  &:nth-child(odd) {
    &::before {
      display: none;
    }
  }
}

.flex-default {
  display: flex;
  align-items: center;
}

.tgn-flex-list-box {
  display: flex;
  flex-wrap: wrap;
  --item-gap: 16px;
  // 4 items per row with 3 gaps
  --item-width: calc((100% - var(--item-gap) * 3) / 4);
  gap: var(--item-gap);
  & > * {
    flex: var(--item-width);
    max-width: var(--item-width);
  }
}

.fade-line-element {
  border-bottom: 1px solid;
  border-image-source: linear-gradient(
    90deg,
    transparent 0%,
    #6d3e2f 50%,
    transparent 100%
  );
  border-image-slice: 1;
}

@media screen and (min-width: 768px) {
  .tgn-flex-wrapper-width-pseudo {
    flex-wrap: nowrap;
  }
  .tgn-flex-item-width-pseudo {
    flex: 1;
    position: relative;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    &:nth-child(odd) {
      &::before {
        display: unset;
      }
    }
  }
}
