/* News Component Styles */
.tgn-news-section {
  position: relative;
  padding: 75px;
  overflow: hidden;
  background-color: #fff6f2;
}

.tgn-newslist-tabs {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
  position: relative;
}
.tgn-title {
  font-size: 18px;
}
.tgn-newslist-tab {
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.3s ease;
  padding: 15px 0;
}

.tgn-newslist-tab-active {
  color: var(--black-color);
}

.tgn-newslist-tab-inactive {
  color: var(--text-inactive-color);
}

.tgn-active-ink-line {
  background-color: var(--text-brown-color);
  width: 100%;
  height: 2px;
  transition: all 0.3s ease-in-out;
}

.tgn-newslist-bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--text-inactive-color);
  transition: all 0.3s ease;
}
.tgn-newsitem-footer {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 12px;
  color: #616161;
}
.tgn-newsitem-description {
  font-size: 14px;
  color: var(--text-inactive-color);
  line-height: 20px;
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.tgn-newsitem-content {
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.tgn-newsitem-image-container {
  overflow: hidden;
  border-radius: 8px;
  width: 300px;
  height: 140px;
}
.tgn-newsitem-container {
  display: flex;
  gap: 30px;
}
.tgn-newsitem-title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}
.tgn-news-event-title {
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.3s ease;
  color: var(--text-brown-color);
}
.tgn-news-event-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--text-brown-color);
  transition: all 0.3s ease;
}
.tgn-news-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  bottom: -200px;
  right: -100px;
}

.tgn-news-event-content {
  padding-top: 16px;
}

.tgn-newslist-content {
  padding-top: 16px;
}

.tgn-news-item {
  padding: 15px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.tgn-news-item:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 8px;
}

.tgn-calendar-item {
  padding: 15px 0;
}

.tgn-calendar-container {
  display: flex;
  gap: 15px;
  color: #212121;
}

.tgn-calendar-card {
  width: 56px;
  background-color: var(--light-gray-color);
  border-radius: 2px;
}

.tgn-calendar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1px;
}

.tgn-calendar-month {
  font-size: 10px;
  padding: 2px 6px;
}

.tgn-calendar-day {
  font-size: 20px;
  color: var(--text-color);
  font-weight: 700;
  text-align: center;
  background-color: var(--white-color);
  width: 100%;
  position: relative;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  top: -1px;
}

.tgn-calendar-text {
  font-size: 14px;
}
.news-page-wrapper {
  .news-flex-box {
    display: flex;
    gap: 3rem;
  }
  .news-pagination {
    padding: 15px;
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .tgn-newslist-tabs {
    gap: 15px;
  }
  .tgn-news-section {
    padding: 50px 0px;
    .base-card-full-border {
      padding: 0 !important;
    }
  }
  .tgn-title {
    font-size: 14px;
    white-space: nowrap;
  }

  .tgn-newsitem-container {
    flex-direction: column;
    gap: 20px;
  }
  .news-flex-box {
    flex-direction: column;
  }
  .tgn-newsitem-image-container {
    width: 100%;
    height: 200px;
  }
  .news-page-wrapper {
    .base-card-full-border {
      padding: 0 !important;
    }
    .news-pagination {
      display: flex;
      justify-content: center;
    }
    .tgn-news-event-header {
      padding: 15px;
    }
  }
}
