/* Partners Component Styles */
.tgn-partners-section {
  position: relative;
  padding: 75px 0 0 0;
  @media screen and (max-width: 768px) {
    .tgn-headding-section {
      text-align: center;
    }
    .tgn-partners-grid-item {
      padding: 0;
      height: 65px;
    }
    .tgn-partners-logo-container {
      padding: 10px;
    }
    .grid-container {
      gap: 10px;
    }
    .grid-item {
      flex: 1 0 calc((100% - 10px * 2) / 3);
      max-width: calc((100% - 10px * 2) / 3);
    }
    .tgn-partners-grid-container {
      padding: 0 0.75rem;
    }
    .container {
      padding: 0;
    }
  }
}

.tgn-partners-grid-bottom {
  position: absolute;
  bottom: -75px;
  width: 100%;
  z-index: -1;
}

/* Partners Slider Styles */
.tgn-partners-slider-container {
  padding: 75px 0;
  position: relative;
}

.tgn-partners-slider-btn {
  position: absolute;
  top: 50%;
}

.tgn-partners-slider-btn-left {
  left: -50px;
}

.tgn-partners-slider-btn-right {
  right: -50px;
}

.tgn-transform-rotate {
  transform: rotate(180deg);
}

.tgn-partners-grid-item {
  overflow: hidden;
  background-color: #fff;
}

.tgn-partners-logo-container {
  padding: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
