.product-detail {
  position: relative;
  .tgn-slider-controller {
    position: absolute;
    top: 50%;
    width: 25px;
  }
  .tgn-slider-btn-prev {
    left: 10px;
  }
  .tgn-slider-btn-next {
    right: 10px;
    transform: rotate(180deg);
  }

  .pd-flex-item-default {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 40px;
  }
  .pd-flex-item-column-default {
    flex-direction: column;
  }
  .pd-title {
    font-size: var(--fs-section-title);
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }
  .pd-title-uppercase {
    text-transform: uppercase;
  }
  .pd-description {
    color: var(--gray-color);
    font-size: 16px;
    .title {
      font-weight: bold;
    }
  }
  .pd-item-w-under-line {
    position: relative;
    padding: 15px 0;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: var(--primary-color);
    }
  }
  .pd-table-data {
    thead {
      border-bottom: 1px solid var(--primary-color);
    }
    tr {
      &:nth-child(2n) {
        background-color: var(--table-row-color);
      }
    }
  }
  & > div {
    &:last-child {
      padding-bottom: 150px;
    }
  }
  .pd-hero {
    position: relative;
    height: 550px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-color: var(--alabaster-white-color);
    width: 100%;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-image: url('https://tgn-cdn.vikiworld.vn/media/grid-detail-product_3354486784137363458.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top left;
      width: 90%;
    }

    .pd-hero-content {
      padding: 100px 0px;
      display: flex;
      justify-content: space-between;
      gap: 80px;
      position: relative;
      z-index: 2;
      & > div {
        flex: 1;
        .tgn-title-page {
          text-align: left;
        }
      }
    }
  }
  .pd-content {
    padding: 150px 0px;
    .pd-number {
      list-style: decimal;
    }
    .pd-slider {
      flex: 2;
      border-radius: 16px;
      overflow: hidden;
      height: 485px;
      position: relative;
      .pd-slider-item {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        transform: translate(-200px, 0px);
      }
      .active {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
    .pd-content-detail {
      padding-top: 100px;
    }
    .pd-content-detail-item {
      &:not(:first-child) {
        padding-top: 2rem;
      }
    }
  }
}
