/* Products Component Styles */
.tgn-products-section {
  position: relative;
  padding: 100px 0;
  .tgn-products-content {
    display: flex;
    justify-content: space-between;
  }
  .tgn-btn-wrapper-mobile {
    display: none;
  }
  .tgn-product-item-btn {
    text-align: center;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tgn-product-item-content {
    padding: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
  }
  .tgn-products-desc {
    max-width: 600px;
    margin: 0 auto;
    font-size: 14px;
    padding: 12px 0;
  }
  @media screen and (max-width: 768px) {
    .tgn-products-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .grid-item {
      flex: 1 0 calc((100% - 16px * 1) / 2);
      max-width: calc((100% - 16px * 1) / 2);
    }
    .tgn-btn-wrapper {
      display: none;
    }
    .tgn-btn-wrapper-mobile {
      display: block;
    }
    .tgn-product-item-btn {
      width: 20px;
      height: 20px;
    }
    .base-card-full-border {
      padding: 0 !important;
    }
    .tgn-product-item-content {
      gap: 15px;
    }
    .grid-item-mobile {
      flex: 1 0 calc((100% - 12px * 2) / 2);
      max-width: calc((100% - 12px * 2) / 2);
    }
  }
}
.tgn-product-item-image-wrapper {
  background-color: var(--light-gray-color);
  overflow: hidden;
  border-radius: 16px;
  max-height: 165px;
  height: 100%;
}
.sp-wrapper {
  .default-flex-item {
    display: flex;
    justify-content: flex-end;
  }
  .item-in-flex-box {
    position: absolute;
    left: 0;
    bottom: 20px;
  }
  .item-2-in-flex-box {
    width: 70%;
    border: 10px solid rgba(255, 255, 255, 0.5);
    border-radius: 24px;
  }
  .card-product-default {
    height: auto;
    width: 520px;
  }
  .product-list-flex {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card-product-item {
    height: 250px;
    max-width: 300px;
    width: 100%;
  }
  .tgn-production-list {
    margin-top: 75px;
    padding: 0;
  }
  @media screen and (max-width: 768px) {
    .default-flex-item {
      flex-direction: column-reverse;
      gap: 30px;
    }
    .item-in-flex-box {
      position: unset;
    }
    .card-product-default {
      width: 100%;
    }
    .item-2-in-flex-box {
      width: 100%;
      img {
        border-radius: 14px;
      }
    }
    .product-list-flex {
      gap: 12px;
      justify-content: flex-start;
    }
    .card-product-item {
      height: auto;
      max-width: 190px;
    }
    .tgn-product-item-image-wrapper {
      max-height: 120px;
    }
  }
}

.tgn-products-btn-container {
  text-align: center;
}

.tgn-products-btn-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.tgn-products-btn-text {
  font-size: 14px;
  font-weight: 500;
}

.tgn-products-arrow {
  width: 12px;
}

.tgn-products-bg-circle {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: -52%;
  z-index: -1;
}

.tgn-products-bg-image {
  max-width: 600px;
}

/* ProductList Component Styles */
.tgn-product-list-container {
  padding: 50px 0;
}

.tgn-product-item-header {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.tgn-product-item-title {
  font-size: 14px;
  font-weight: 700;
  color: var(--black-color);
  text-transform: uppercase;
}

.tgn-product-item-btn-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.tgn-product-item-arrow {
  width: 12px;
}
