/* Projects Component Styles */
.tgn-projects-section {
  background-color: var(--secondary-color);
  position: relative;
  padding: 50px 30px;
  margin: 0 30px;
  border-radius: 24px;
  overflow: hidden;
  z-index: 2;
  .tgn-projects-circle-right {
    position: absolute;
    bottom: 100px;
    right: 0;
    width: 450px;
  }

  .tgn-projects-circle-container {
    max-width: 700px;
  }

  .tgn-projects-desc {
    max-width: 600px;
    margin: 0 auto;
    font-size: 14px;
    padding: 12px 0;
  }
  .tgn-projects-circle-left {
    position: absolute;
    top: -100px;
    left: -150px;
    width: 100%;
    height: 100%;
  }
  .tgn-projects-circle-left-container {
    width: 300px;
  }

  .tgn-projects-grid {
    display: flex;
    gap: 25px;
    padding: 50px 0;
    align-items: stretch;
  }
  .tgn-projects-col-left {
    flex: 1.3;
  }

  .tgn-projects-col-items {
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .tgn-projects-col-right {
    flex: 2;
  }

  .tgn-projects-col-right-items {
    display: flex;
    gap: 25px;
    flex-direction: column;
  }
  .tgn-projects-row {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
  }

  .tgn-projects-footer {
    text-align: center;
  }

  .tgn-projects-btn-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  @media screen and (max-width: 768px) {
    margin: 0;
    padding: 50px 0;

    .tgn-projects-grid,
    .tgn-projects-row {
      flex-direction: column;
      text-align: center;
    }
    .tgn-img-responsive {
      height: 300px !important;
      img {
        object-fit: cover !important;
      }
    }
  }
}
.projects-page-wrapper {
  .projects-list-flex {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .projects-grid-item {
    flex: 1 0 calc((100% - 20px * 2) / 3);
    max-width: calc((100% - 20px * 2) / 3);
  }
  @media screen and (max-width: 768px) {
    .projects-grid-item {
      flex: unset;
      max-width: 100%;
      width: 100%;
    }
  }
}
