/* Construction Component Styles */
.tgn-construction-section {
  background-color: #EDDFD8;
  position: relative;
}

.tgn-construction-container {
  position: relative;
  width: 100%;
}

.tgn-construction-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 380px;
  gap: 50px;
}

.tgn-construction-left {
  flex: 1;
  position: relative;
  height: 100%;
}

.tgn-machine-image {
  width: 540px;
  position: absolute;
  right: 100px;
  z-index: 0;
  top: -90px;
}

.tgn-building-image {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 480px;
  right: 15px;
}

.tgn-vehicle-image {
  position: absolute;
  bottom: -25px;
  z-index: 2;
  width: 400px;
  right: 280px;
}

.tgn-construction-right {
  flex: 1;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tgn-construction-content-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  z-index: 20;
  position: relative;
  margin-left: 100px;
}

.tgn-construction-title {
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
}

.tgn-construction-desc {
  font-size: 14px;
}

.tgn-construction-btn {
  margin-top: 35px;
}

.tgn-construction-btn-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.tgn-construction-btn-text {
  font-size: 14px;
  font-weight: 500;
}

.tgn-construction-arrow {
  width: 12px;
}

.tgn-construction-texture {
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: rotateX(180deg);
}

.tgn-construction-resources-section {
  margin-top: 50px;
  position: relative;
}

.tgn-construction-resources-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.tgn-construction-resource-group {
  position: relative;
  width: 700px;
  height: 480px;
}

.tgn-construction-asset-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.tgn-asset-item {
  position: relative;
  width: 60px;
  height: 60px;
}

.tgn-asset-eclipse {
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid rgba(146, 88, 70, 0.6);
}

.tgn-asset-image-container {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}

.tgn-asset-image {
  width: inherit;
  height: inherit;
}

.tgn-mining-content {
  z-index: 21;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  flex: 1;
  overflow: hidden;
}

.tgn-mining-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  margin-left: 100px;
}

.tgn-mining-texture {
  width: 100%;
  position: absolute;
  bottom: -150px;
  transform: rotateX(180deg);
  height: 100%;
  z-index: -1;
}
