/* News Component Styles */
.tgn-news-section {
  background-color: #fff6f2;
  position: relative;
  padding: 75px;
  overflow: hidden;
}

.tgn-news-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  bottom: -200px;
  right: -100px;
}

.tgn-news-container {
  position: relative;
  z-index: 2;
}

.tgn-news-header {
  text-align: center;
}

.tgn-news-title {
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
}

.tgn-news-content-wrapper {
  position: relative;
  padding: 75px 0;
}

.tgn-news-card {
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.8);
}

.tgn-news-flex-container {
  display: flex;
  gap: 20px;
}

.tgn-news-list-container {
  flex: 2.8;
}

.tgn-news-calendar-container {
  flex: 1.2;
}

.tgn-news-event-header {
  position: relative;
}

.tgn-news-event-title {
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.3s ease;
  color: #6d3e2f;
  padding: 15px 0;
}

.tgn-news-event-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #6d3e2f;
  transition: all 0.3s ease;
}

.tgn-news-event-content {
  padding-top: 16px;
}

/* NewsList Component Styles */
.tgn-newslist-container {
}

.tgn-newslist-tabs {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
  position: relative;
}

.tgn-newslist-tab {
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.3s ease;
  padding: 15px 0;
}

.tgn-newslist-tab-active {
  color: #000;
}

.tgn-newslist-tab-inactive {
  color: #828282;
}

.tgn-newslist-ink-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #6d3e2f;
  transition: all 0.3s ease;
}

.tgn-newslist-bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #828282;
  transition: all 0.3s ease;
}

.tgn-newslist-content {
  padding-top: 16px;
}

.tgn-news-item {
  padding: 15px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.tgn-news-item:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 8px;
}

/* NewsItem Component Styles */
.tgn-newsitem-container {
  display: flex;
  gap: 30px;
}

.tgn-newsitem-image-container {
  overflow: hidden;
  border-radius: 8px;
  width: 300px;
  height: 140px;
}

.tgn-newsitem-content {
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.tgn-newsitem-title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}

.tgn-newsitem-description {
  font-size: 14px;
  color: #828282;
  line-height: 20px;
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.tgn-newsitem-footer {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 12px;
  color: #616161;
}

.tgn-newsitem-calendar-icon {
  width: 12px;
  height: 12px;
}

/* CalendarList Component Styles */
.tgn-calendarlist-container {
}

.tgn-calendar-item {
  padding: 15px 0;
}

.tgn-calendar-container {
  display: flex;
  gap: 30px;
  color: #212121;
}

.tgn-calendar-card {
  width: 56px;
  background-color: #dfdfdf;
  border-radius: 2px;
}

.tgn-calendar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1px;
}

.tgn-calendar-month {
  font-size: 10px;
  padding: 2px 6px;
}

.tgn-calendar-day {
  font-size: 20px;
  color: #212121;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
  width: 100%;
  position: relative;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  top: -1px;
}

.tgn-calendar-text {
  font-size: 14px;
}

.tgn-active-ink-line {
  background-color: #6d3e2f;
  width: 100%;
  height: 2px;
  transition: all 0.3s ease-in-out;
}
