.field-of-extraction-wrapper {
  position: relative;
  z-index: 1;
  min-height: 720px;
  height: 100%;
}

.field-of-extraction-wrapper::before,
.field-of-extraction-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.field-of-extraction-wrapper::before {
  background: url('/landing/LVHD/LVKT/BG.png') no-repeat center center;
  background-size: cover;
  z-index: -1;
}
.field-of-extraction-wrapper::after {
  /* background overlay */
  background: rgba(255, 255, 255, 0.8);
  z-index: -1;
}
