.field-of-business-wrapper {
  position: relative;
  z-index: 1;
  min-height: 720px;
}

.field-of-business-wrapper::before,
.field-of-business-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.field-of-business-wrapper::before {
  background: url('/landing/LVHD/LVKD/BG.png') no-repeat center center;
  background-size: cover;
  z-index: -1;
}
.field-of-business-wrapper::after {
  background-color: rgba(237, 223, 216, 0.8);
  z-index: -1;
}
